.panel-menu-flotante { 
 position: fixed;
 background-color:transparent;
 z-index: 2001;
 box-shadow: 10px 10px 20px rgb(0, 0, 0);
 

 top: 260px;
 left:180px;
 right: 0px;
opacity: 90%;
transition: transform 0.3s ease;
transform: translate(90%,0%);
border-radius: 20px;

}

.hidden-panel { 
    transform: translate(100%,0);
    visibility:hidden;
    opacity: 0;
    transition: transform 0.3s ease;
}


.menu-flotante { 
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
  text-align: left;

  
    
}

.menu-flotante img { 
margin-left: 30px;
}

.menu-flotante a {

    font-size: 24px;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 28px;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3 s ease;
    font-family:'Times New Roman', Times, serif;
    
  
}
.menu-flotante a:hover {

 
    color: rgb(255, 1, 1);


  
}






/* FONDO DE EL NAVBAR. */
.navbar-bg { 
    background-color: rgb(245, 243, 243) !important;
}
.navFix{
    z-index: 4000;
    position: fixed;
    height: 90px;
    width: 100px;
    background-color: transparent;
    top: 0px;
    box-shadow: 5px 5px 15px gray;
    transition: all 0.3s ease-in-out;
    top: 20px;
    cursor: pointer;
    border-radius: 10px;

 } 

 .img_navfixed { 
    padding-left: 10px;
    padding-top: 4px;
  
 }


.nav-item {
    font-weight: bold !important; 
    font-size: 24px;
    padding: 5px;
   
    font-family:fantasy;
}
.dropdown-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.nav-item:hover { 
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
    transition: all 0.4s;
}
.nav-item a {
 color: rgb(247, 74, 74) !important;
}
.navbar {
    box-shadow: 5px 5px 15px gray;
}
.pr {
    position: absolute !important;
    padding-left: 515px;
    padding-top: 40px;
    
}

/* PARA CENTRALIZAR EL NAVBAR. (FORMA INCORRECTA). */
.sections-nav-bar {

   padding-left: 280px;

  
}

/* SECCIONES DEL DOCUMENTO PRINCIPAL */
.section {
    text-align: center;
  
}

/* ESTILOS AL RELOJ */
.reloj{
    background-color:  rgb(245, 243, 243);
    margin-right: 20px;
    height: 60px;
    width: 140px;
    border-style:inset;
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-style: italic;
    font-weight:bolder;
}

/* ESTILOS A LA SECCION 1 */
.section-1 {
    display:flex; 
    height: 800px;
}
/* ESTILOS A LA SECCION 1: ASIDE. */
.aside { 
    
    background-color: rgba(60, 151, 0, 0.911);
     flex:0.3;
    font-family: Verdana;
    border-style:double;
    box-shadow: 5px 5px 30px black;
    
}
.aside h3 {
    font-size: 30px !important;
    font-weight: bolder;
    padding-top: 10px;
}
.aside img { 
    opacity: 30%;
    width: 160px;
    height: 160px;
 transition: 2s ease-out;
}
.aside img:hover {
    opacity: 100%; 
    width: 170px;
    height: 170px;
 transition: 0.5s ease;
 
}
.div-img {
    width: 100%;
    height: 160px;
    margin-top: 25px;
}


.alerta-aside-1{
    margin-top: 85px;
    right: 20%;
    position:absolute;
    z-index: 999;
  font-family: serif;
  font-weight: bold;
  transition: 0.4s ease;

}
.alerta-aside-2{
    margin-top: 280px;
    right: 20%;
    position:absolute;
    z-index: 999;
  font-family: serif;
  font-weight: bold;
  transition: 0.4s ease;

}
.alerta-aside-3{
    margin-top: 460px;
    right: 20%;
    position:absolute;
    z-index: 999;
  font-family: serif;
  font-weight: bold;
  transition: 0.8s ease;

}
.alerta-aside-4{
    margin-top: 620px;
    right: 20%;
    position:absolute;
    z-index: 2000;
  font-family: serif;
  font-weight: bold;
  transition: 0.8s ease;

}

.alert-hidden {
    opacity: 0;
    visibility: hidden;
}

/* ESTILOS A LA SECCION 1: INICIO */
.inicio { 
    flex:1;
    background-color: rgba(216, 214, 214, 0.589);
    box-shadow: 5px 5px 30px black;
}
.item-carrusel {
    position: absolute;
    padding-left: 100px;
   

}
.item-carrusel img { 
    opacity: 0.6;
}
.carrusel {
    margin-top: 50px;
}
.carrusel img {
    margin-top: 20px;
    width: 900px;
    height: 500px;
    z-index: 0;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
   
}
.parrafo {
        background-color: transparent;
        height: 120px;
        width: 400px;
        margin-left: 250px;
        position: absolute;
        top: 400px;
        transition: 4s ease;
        opacity: 70%;
        z-index: 999;

}
.parrafo-img { 
    font-weight: bolder;
    position: absolute;
    z-index: 999;
 
 
}
.hidden { 
    opacity: 0;
    visibility: hidden;
}
.izquierda {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 120px;
    top: 500px;
    font-size: 30px;
    border-radius: 100%;
    font-weight: bolder;
    opacity: 0.6;
}
.izquierda:hover {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 120px;
    top: 500px;
    font-size: 30px;
    border-radius: 100%;
    font-weight: bolder;
    opacity: 1;
}

.derecha {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 440px;
    top: 500px;
    font-size: 30px;
    border-radius: 100%;
    font-weight: bolder;
    opacity: 0.6;
}
.derecha:hover {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 440px;
    top: 500px;
    font-size: 30px;
    border-radius: 100%;
    font-weight: bolder;
    opacity: 1;
}

.item-carrusel { 
    transition-property: opacity, left;
    transition-duration: 1.5s, 5s, 2s, 1s;
}






/* ESTILOS A LA SECCION 2: QUIENES SOMOS */

.section-2 { 
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    background-color: transparent;

    background-image: url('https://images5.alphacoders.com/707/707115.jpg');
    height: 600px;
    text-align: center;
    padding-top: 50px;
    opacity: .5;
    margin-bottom: 0px;
}


.img-section2 { 
    position: absolute;
    top: 920px;
    left: 25%;
    z-index: 998;
    margin-bottom: 0px;
        
}




/* ESTILO A LA SECCION 3: CONTACTO */

.img-section3 { 
position: absolute;
    left: 450px;
    margin-top: 20px;
}
#section3 { 
    margin-top: 0px;
    box-shadow: -5px -34px 15px black,
     0px 15px 15px black;
    background-color: rgba(247, 247, 247, 0.925);
}

.contacto { 
    
    background-color: transparent;
    width: 100%;
    height: 640px;
    display: flex;
   
}

.imgContacto {
    margin-top: 0px;
    background-color: transparent;
    margin-left: 80px;
}
.imgContacto img { 
    width: 600px;
    height: 600px;
    background-color:transparent;
}

.formContacto {
    border-radius: 30px;
    background-color: transparent;
    margin-left: 180px;
    margin-top: 30px;
    width: 30%;
    height: 90%;
 
    
}

.form-contacto-reino{
    margin-top: 0px;
    width: 380px;
    height: 500px;
    background: transparent;
    margin: auto;
    border-radius: 40px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;


  }

.form-contacto-reino p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-contacto-reino a {
    color: white;
    text-decoration: none;
  }
  
  .form-contacto-reino a:hover {
    color: rgb(247, 176, 44)(75, 16, 16);
    text-decoration: underline;
  }


  
  .form-contacto-reino h4 {
    font-size: 22px;
    margin-bottom: 20px;

  }

  .form-contacto-reino .botons {

   
    width: 250px;
    background: #e7e7e7fb;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;

  }
  .form-contacto-reino .botons:hover {

   
    width: 260px;
    background: #b9b8b8fb;
    border: none;
    padding: 12px;
    color: rgb(0, 0, 0);
    margin: 16px 0;
    font-size: 16px;
    border-style: solid;
    border-radius: px;

  }

  .titulo_contacto { 
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
  }
  .nombre_contacto { 
    display:flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    
  }
  .correo_contacto { 
    display:flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px; 
  }
  .mensaje_contacto { 
    display:flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
 
    
  }

  .input_nombre {
    width: 50%;
    background: #24303c;
    padding: 10px;
    border-radius: 60px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    width: 400px;
    border-color: #f0f188;
    
   
  }
  .input_correo {
    width: 50%;
    background: #24303c;
    padding: 10px;
    border-radius: 60px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    width: 400px;
    border-color: #f0f188;
    
  }

  .textarea_mensaje {
   
    background: #24303c;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
    width: 400px;
    height: 120px;
    border-color: #f0f188;
    
    
  }

  #mensaje {    
    resize: none;}


  .img_avatar  { 
    width: 60px;
    height: 45px;
    margin-right: 10px;
  
  }
  .img_mensaje {
    margin-top: 30px;
      width: 90px;
    height: 75px;
    margin-right: 10px; 
  }

/* ESTILO A LA SECCION 4:  EQUIPO */


.section-4 { 
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    background-color: transparent;
 
    background-image: url('https://images8.alphacoders.com/122/thumbbig-1225397.webp');
    height: 950px;
    text-align: center;
    padding-top: 50px;
    opacity: .5;
    margin-bottom: 0px;
}
.img-section4 { 
    position: absolute;
    top: 2060px;
    left: 0%;
    z-index: 998;
    margin-bottom: 0px;
        
}
.img_equipo_logo {
        margin-left: 120%;
}

.img_equipo_1 {
    width: 170px;
    height: 150px;

}

.imgPeach{
    text-align: center;
    margin-top: 4%;
}

.img_equipo_2 {
    width: 170px;
    height: 150px;

}

.imgYoshi{
    text-align: center;
    margin-top: 4%;
}

.card-body { 
    width: 400px;
    height: 300px;

}

.card {
    border-radius: 100px;
    opacity: 0.8;
    margin-top: 40px;
    margin-left: 60px;
    width: 400px;
    height: 370px;
}
.card-title {
    text-align: center;
    
}

.card-text {
    padding-left: 8%;
}
.btn-equipo_1 {

    background-color: rgb(243, 54, 171) !important;
    border-color: aliceblue;
    position: absolute;
    left: 140px;
}
.btn-equipo_1 a {
text-decoration: none;
color: white;
}
.btn-equipo_2 a {
    text-decoration:solid;
    color: white;
    }

.btn-equipo_1:hover {

    background-color: rgb(243, 54, 171) !important;
    border-color: rgb(68, 218, 255);
}



.btn-equipo_2 {
   
    background-color: rgb(59, 243, 142) !important;
    border-color: aliceblue;
    position: absolute;
    left: 140px;
 
}

.btn-equipo_2:hover {

    background-color: rgb(59, 243, 142) !important;
    border-color: rgb(68, 218, 255);
}

.link_card {
    text-decoration: none;
}

/* ESTILOS BOTON UP */
.botonUp { 
    position: fixed;
        background-color: rgba(60, 151, 0, 0.911);
        width: 50px;
        height: 50px;
        margin-top: 590px;
        margin-left: 10px;
        cursor: pointer;
        border-style: solid;
        border-radius: 10px;
      z-index: 999;
           transition: all 0.8s ease-out;  
    }
    
    .hidden-btn-up {
        opacity: 0;
        visibility: hidden;
       
    }
    
    /* CONTADOR */
    .cuerpo {
        z-index: 800;
        height: 160px;
        position: absolute;
        text-align:  left;
        background-color: rgb(202, 202, 202);
        box-shadow: 5px 5px 20px rgb(0, 0, 0);
        border-radius: 20px;
        margin-left: 2%;
        margin-top: 14px;
        width: 280px;

    }
    .contenedor { 
        width: 280px;
        text-align: center;
        z-index: 900;
    }

    .titulo { 
        font-style: italic;
        font-size: 24px;
        font-family:cursive;
        text-align: center;
        font-weight: bold;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .botonContador {
        height: 90px;
        width: 120px;
        border-radius: 50px;
        background-color:rgb(253, 253, 253) ;
        box-shadow: 10px 10px 30px rgb(0, 0, 0);
        cursor:pointer;
        position: absolute;
        margin-left: 60%;
        margin-top: 20px;
        z-index: 998;
    }
    .img-contador { 
        padding-top: 13px;
        width: 80px;
        height: 60px;
      
    }
    /* CONTADOR--- para que el textarea no se redimensione */
    #text {
        resize: none;
        margin-left: 5px;
        margin-right: 5px;
        width: 255px;
    }

    .status-ex span { 
        margin-left: 5px;
        text-align: center;
    }

    .status-ex {
        text-align: center;
        font-weight: bold;
    }

    .hiddenContador { 
        opacity: 0.5;
        visibility: hidden;
    }

    .cierraContador { 
        cursor: pointer;
   
    }

    /* POKEDEX */

    .hidden {
        visibility: hidden;
        opacity: 0;
    }
    .pokedex { 
        background-color: #616163;
        width: 300px;
        position: absolute;
        z-index: 1500;
        margin-left: 30px;
        border-style: solid;
        border-radius: 3px;
        top: 100px;
    }

    .cierraPoke { 
        cursor: pointer;
 
    }
    .form-pok {
        width: 200px;
        margin: 20px auto;
    
    }
    
    .input.pok {
        width: 100%;
        border-style: solid;
        border-radius: 50px;
        font-size: large;
      
    }
    
    .poke-card {
        position: relative;
        height: fit-content;
        font-family: 'Roboto Mono', monospace;
        max-width: 300px;
        border-radius: 4px;
        color: #000;
        text-align: center;
        padding: 10px;
        margin: 0 auto;
        background-color: #FFF;
        border: 1px solid black;
    }
    
    .poke-card::before {
        content: '';
        background: radial-gradient(black 33%, transparent 33%);
        background-size: 3px 3px;
        border-radius: 4px;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: -1;
    }
    
    .img-container {
        position: relative;
        width: 180px;
        margin: 10px auto;
    }
    
    .poke-stats div {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        padding: 5px;
        font-size: 18px;
    }
    
    .poke-types div {
        padding: 5px;
        margin: 5px;
        border-radius: 4px;
        border: 1px dashed black;
    }
    
    .poke-img {
        width: 180px;
        border-radius: 50%;
    }


    .botonPokedex {
        height: 90px;
        width: 120px;
        border-radius: 50px;
        background-color:rgb(253, 253, 253) ;
        box-shadow: 10px 10px 30px rgb(0, 0, 0);
        cursor:pointer;
        position: absolute;
        margin-left: 10%;
        z-index: 998;
        top: 95px;
        left: 560px;

    }
    .img-pokedex { 
        padding-top: 13px;
        width: 80px;
        height: 60px;
      
    }